*{font-family:'Roboto', sans-serif;background-color: black; color: white;}
p{color: white;}
.footer{background-color: aqua;}
hr{background-color:aqua;}
section{padding-top: 50pt;}
.color-tex{color: white;}
.gn-icon{background-color: aqua;padding: 10px;}
  #mensaje{ height: max-content;}